@font-face {
  font-family: 'Beiruti';
  src: url('Beiruti.woff2') format('woff2'),
       url('Beiruti.woff') format('woff'),
       url('Beiruti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
